:root {
    --main_background: #D9D9D9;
}

*{
    margin: 0px;
    padding: 0px;
    }

.main_div {
    width: 1200px;
    background-color: var(--main_background);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_top_div {
    width: 1170px;
    display: flex;
    justify-content: center;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
}
.version {
    width: 1200px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    margin-bottom: 5px;
}

.version p {
    font-size: 11px;
}

.top_section {
    width: 1150px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    padding-top: 10px;
    padding-bottom: 10px;
}

.display_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1150px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.call_row {
    width: 100px;
}

.delete_row {
    width: 100px;
}
 .date_row, .name_row, .truck_row, .phone_row {
    width: 200px;
    text-align: center;
 }
